/**
 * @file
 * Display Suite Responsive Two Column stylesheet.
 */

.ds-header {
  /* Styles for the "header" region go here */
}

.ds-left {
  /* Styles for the "left" region go here */
}

.ds-right {
  /* Styles for the "right" region go here */
}

.ds-footer {
  /* Styles for the "footer" region go here */
}
